
</div>
<button class="compose-btn"><a href="/compose"><img src="\css\images\Compose Button.png" alt="Compose"></a></button>
<div class="footer-padding"></div>
  <div class="footer">
    <!-- <p>
      "Welcome to the Daily Journal blog! We hope you've enjoyed reading our latest articles and exploring our archives. If you're interested in contributing your own content to our site, we encourage you to share your thoughts and ideas by creating a new post. Click the link below to get started and join our community of writers and readers!"
    </p>
    <a href="/compose">[Compose a new post]</a> -->
    <p>Made with ❤️ by @Re1th Varma</p>
  </div>
</div>
</body>
</html>
